/* 微博易前端库 **/

@keyframes fadeIn {
  from { opacity: 0; }
  to {opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to {opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to {opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to {opacity: 1; }
}

/** 工具按钮样式 start-- **/
.weiboyiTool_close {
  background-position:-15px 0;
}
.weiboyiTool_close:hover {
  background-position:0 0;
}
.weiboyiTool_minimize {
  background-position:-15px -15px;
}
.weiboyiTool_minimize:hover {
  background-position:0 -15px;
}
.weiboyiTool_maximize {
background-position:-15px -30px;
}
.weiboyiTool_maximize:hover {
background-position:0 -30px;
}
.weiboyiTool_restore {
background-position:-15px -45px;
}
.weiboyiTool_restore:hover {
background-position:0 -45px;
}
.weiboyiTool_gear {
background-position:-15px -90px;
}
.weiboyiTool_gear:hover {
background-position:0 -90px;
}
.weiboyiTool_pin {
background-position:-15px -135px;
}
.weiboyiTool_pin:hover {
background-position:0 -135px;
}
.weiboyiTool_unpin {
background-position:-15px -150px;
}
.weiboyiTool_unpin:hover {
background-position:0 -150px;
}
.weiboyiTool_right {
background-position:-15px -165px;
}
.weiboyiTool_right:hover {
background-position:0 -165px;
}
.weiboyiTool_left {
background-position:-15px -180px;
}
.weiboyiTool_left:hover {
background-position:0 -180px;
}
.weiboyiTool_up {
background-position:-15px -210px;
}
.weiboyiTool_up:hover {
background-position:0 -210px;
}
.weiboyiTool_down {
background-position:-15px -195px;
}
.weiboyiTool_down:hover {
background-position:0 -195px;
}
.weiboyiTool_refresh {
background-position:-15px -225px;
}
.weiboyiTool_refresh:hover {
background-position:0 -225px;
}
.weiboyiTool_minus {
background-position:-15px -255px;
}
.weiboyiTool_minus:hover {
background-position:0 -255px;
}
.weiboyiTool_plus {
background-position:-15px -240px;
}
.weiboyiTool_plus:hover {
background-position:0 -240px;
}
.weiboyiTool_search {
  background-position:-15px -270px;
}
.weiboyiTool_search:hover {
  background-position:0 -270px;
}
.weiboyiTool_save {
  background-position:-15px -285px;
}
.weiboyiTool_save:hover {
  background-position:0 -285px;
}
.weiboyiTool_help {
  background-position:-15px -300px;
}
.weiboyiTool_help:hover {
background-position:0 -300px;
}
.weiboyiTool_more {
  background-position:-15px -315px;
}
.weiboyiTool_more:hover {
  background-position:0 -315px;
}

.weiboyiTool_custom {
  color: #1366a3;
  font-size: 14px;
  text-decoration: none;
}

.weiboyiTool_custom:hover {
  text-decoration: underline;
}

.weiboyiTool {
  display: inline-block;
  overflow:hidden;
  width:15px;
  height:15px;
  cursor:pointer;
  margin-left:2px;
  vertical-align: middle;
  background-image:url(http://m.vxiaoyun.com/Public/css/box/images/common/tool-sprites.png);
}

/** tools --end **/
/** Container start-- **/
.weiboyiTabCtnr, .weiboyiCtnr {
  overflow: auto;
}

.weiboyiCtnrText {
  color: #666666;
  word-wrap: break-word;
  word-break: break-all;
}

.weiboyiCtnr_loading, .weiboyiTabCtnr_loading {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/common/loading.gif) no-repeat center center;
  min-height: 80px;
  _height: 80px;
}

.weiboyiTabCtnr_icon {
  height: 18px;
  width: 18px;
  display: inline-block;
}

.weiboyiIframeContent {
  overflow:auto;
  width:100%;
  height:100%;
  border:none;
  background-color: transparent;
}
/** window start-- **/
.weiboyiWindow {
  position: absolute;
  display: none;
}
.ui-draggable .weiboyiWindow_tl {
  cursor: move;
}

.weiboyiWindow_tc {
  border-right: 1px solid #a0a0a0;
  border-top: 1px solid #a0a0a0;
}

.weiboyiWindow_tl {
  padding-left: 6px;
  padding-top: 7px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/window/window_border.png) repeat left top;
}

.weiboyiWindow_tr {
  padding-right: 6px;
  border-left: 1px solid #a0a0a0;
}

.weiboyiWindow_bl {
  padding-left: 6px;
  padding-bottom: 6px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/window/window_border.png) repeat left top;

}

.weiboyiWindow_br {
  padding-right: 6px;
  border-left: 1px solid #a0a0a0;
  /*background: url(http://m.vxiaoyun.com/Public/css/box/images/window/corners-sprite-br.png) no-repeat right bottom;*/
  border-bottom-color:#99bbe8;
}

.weiboyiWindow_bc {
  background-color: #fff;
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  /*background: url(http://m.vxiaoyun.com/Public/css/box/images/window/corners-sprite-bc.png) repeat-x left bottom;*/
  /*padding-bottom: 6px;*/
  _margin-top: -5px;
  +zoom: 1;
}

.weiboyiWindow_foot {
  border-top: 1px dashed #d6d6d6;
  margin: 0 11px;
  height: 43px;
  text-align: right;
  _padding-top: 5px;
}

.weiboyiWindow_btn {
  margin: 8px 0 0 15px;
  cursor: pointer;
}

.weiboyiWindow_mc {
    background-color: #ffffff;
    border-right: 1px solid #a0a0a0;
}

.weiboyiWindow_ml {
  padding-left: 6px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/window/window_border.png) repeat left top;
}

.weiboyiWindow_mr {
  padding-right: 6px;
  border-left: 1px solid #a0a0a0;
}

.weiboyiWindow_head {
  background-color: #ddf0ff;
  border-bottom: 1px solid #94b0bf;
  height: 36px;
  line-height: 36px;
  padding: 0 12px 0 12px;
}

.weiboyiWindow_head_tools {
  float: right;
  line-height: 30px;
  display: block;
  height: 30px;
}

.weiboyiWindow_head_title {
  display: block;
  float: left;
  color: #666666;
  font-size: 14px;
  font-weight: bold;
  font-family: "微软雅黑", "宋体";
}

.weiboyiWindow_head_title em {
  color: #2878b4;
}

.weiboyiWindow_head_icon {
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}

.weiboyiWindow_mask {
  position: fixed;
  background: black;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: alpha(opacity=20);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  _position: absolute;
}

.weiboyiWindow_mask iframe {
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
}

.weiboyiWindow_body {
  overflow: auto;
  padding: 10px;
}

.weiboyiWindow_animateHelper {
  position: absolute;
  background-color: gray;
  opacity: 0.5;
}

.ie6mask {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 10;
  top: 6px;
  left: 6px;
  z-index: -1;
  filter: alpha(opacity=0);
}

.weiboyiWindow .weiboyiTool {
  *margin-top: 8px;
}

.weiboyiWindow.absoluteCenter {
  left: 50%;
  top: 50%;
  position: fixed;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight / 2));
  _left: expression(eval(document.documentElement.scrollLeft + document.documentElement.clientWidth / 2));
  zoom: 1;
}

/** messagebox start-- **/
.weiboyiMessage_ctnr {
  text-align: center;
}

.weiboyiMessage_content {
  display: inline-block;
  padding: 35px 20px 35px 115px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  word-break: break-all;
  color: #666666;
}

.weiboyiMessage_success {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/common/message_success.jpg) no-repeat 30px center transparent;
}
.weiboyiMessage_question {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/common/message_question.jpg) no-repeat 30px center transparent;
}
.weiboyiMessage_info {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/common/message_info.jpg) no-repeat 30px center transparent;
}
.weiboyiMessage_error {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/common/message_error.jpg) no-repeat 30px center transparent;
}
.weiboyiMessage_loading {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/common/loading.gif) no-repeat 20px center transparent;
}
/** messagebox --end **/

/** Tip start-- **/
.noBorderTips .weiboyiTips_tc,
.noBorderTips .weiboyiTips_tl,
.noBorderTips .weiboyiTips_tr,
.noBorderTips .weiboyiTips_bc,
.noBorderTips .weiboyiTips_bl,
.noBorderTips .weiboyiTips_br,
.noBorderTips .weiboyiTips_mc,
.noBorderTips .weiboyiTips_ml,
.noBorderTips .weiboyiTips_mr {
  background: transparent;
}

.noBorderTips .weiboyiTips_anchor {
  display: none;
}

.weiboyiTips {
  border: 1px solid #979797;
  box-shadow: 4px 6px 10px #ddd;
  border-radius: 2px;
  background: #ffffff;
  position: absolute;
  display: none;
  animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s; /* Firefox */
  -webkit-animation: fadeIn 0.5s; /* Safari and Chrome */
  -o-animation: fadeIn 0.5s; /* Opera */
  _zoom: 1;
}

.weiboyiTips_tc {
  padding-top: 10px;
}

.weiboyiTips_tl {
  padding-left: 18px;
}

.weiboyiTips_tr {
  padding-right: 18px;
}

.weiboyiTips_bl {
  padding-left: 18px;
}

.weiboyiTips_br {
  padding-right: 18px;
}

.weiboyiTips_bc {
  padding-bottom: 10px;
  _margin-top: -5px;
}

.weiboyiTips_foot {
  border-top: 1px dotted #ccbcae;
  height: 35px;
  text-align: right;
  line-height: 35px;
}

.weiboyiTips_btn {
    margin-left: 10px;
    *margin-top: 4px;
}

.weiboyiTips_mc {
}

.weiboyiTips_ml {
  padding-left: 5px;
  background-color: #ffffff;
}

.weiboyiTips_mr {
  padding-right: 5px;
}

.weiboyiTips_head {
  height: 24px;
  line-height: 20px;
  border-bottom: 1px solid #CCBCAE;
}

.weiboyiTips_head_tools {
  float: right;
  margin: -6px -3px 0 0;
  display: block;
  height: 20px;
}

.weiboyiTips_head_title {
  display: block;
  float: left;
  color: #db1010;
  font-size: 14px;
  font-weight: bold;
  font-family: "微软雅黑", "宋体";
}

.weiboyiTips_head_icon {
  display: block;
  float: left;
  height: 20px;
  width: 20px;
}

.weiboyiTips_body {
  overflow: auto;
  padding: 5px 12px 7px 12px
}

.weiboyiTips_anchor {
  display: inline-block;
  position: absolute;
}

.weiboyiTips_tc .weiboyiTips_anchor {
  width: 14px;
  height: 8px;
  top: -7px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/tips/anchor_t.giff") no-repeat left top transparent;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='corp', src='images/tips/anchor_t.gif');
}
.weiboyiTips_bc .weiboyiTips_anchor {
  width: 14px;
  height: 8px;
  bottom: -7px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/tips/anchor_b.giff") no-repeat left top transparent;
}
.weiboyiTips_ml .weiboyiTips_anchor.anchor_left {
  width: 8px;
  height: 14px;
  right: -7px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/tips/anchor_r.giff") no-repeat left top transparent;
}
.weiboyiTips_ml .weiboyiTips_anchor.anchor_right {
  width: 8px;
  height: 14px;
  left: -7px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/tips/anchor_l.giff") no-repeat left top transparent;
}

.tipsAnchorWrap {
}
/** Tip --end **/
.weiboyiWindow_ml .weiboyiTabCtnr {
    padding: 25px 50px;
}

.weiboyiTabCtnr_tabhead {
    height: 40px;   
}
.weiboyiTabCtnr_tabhead li {
    float: left;            
}
.weiboyiTabCtnr_tabhead li a {
    text-align: center;
    line-height: 36px;
    border-bottom: 1px solid #398ee5;
    display: block;
    padding: 0 8px;
}
.weiboyiTabCtnr_tabhead li a.activeTab {
    color: #999;
}

.weiboyiTabCtnr_tabhead li a.activeTab span {
    display: block;
    position: relative;
    top: 1px;
    background: url(http://m.vxiaoyun.com/Public/css/box/images/container/tab_active.jpg) no-repeat center bottom;
}
/** 反馈窗口 **/
.feedbackWindow.weiboyiWindow {
    background: url(http://m.vxiaoyun.com/img/idea_bg.jpg) no-repeat 20px -352px white;
    border: 3px solid #C7C8C8;
}

.feedbackWindow .weiboyiWindow_tc, 
.feedbackWindow .weiboyiWindow_tr, 
.feedbackWindow .weiboyiWindow_tl, 
.feedbackWindow .weiboyiWindow_mc, 
.feedbackWindow .weiboyiWindow_mr, 
.feedbackWindow .weiboyiWindow_ml, 
.feedbackWindow .weiboyiWindow_bc, 
.feedbackWindow .weiboyiWindow_br,
.feedbackWindow .weiboyiWindow_bl {
    background: transparent;
}

.feedbackWindow .weiboyiWindow_head {
    height: 41px;
}

.feedbackWindow .weiboyiWindow_head_tools {
    margin: -10px -10px 0 0;
}


/** 数据释放 start-- **/
.freedataWindow .weiboyiWindow_bl,
.freedataWindow .weiboyiWindow_br,
.freedataWindow .weiboyiWindow_bc {
  background: transparent;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
.freedataWindow .weiboyiWindow_body  {
  padding-bottom: 40px;
}

.freedataWindow_btn {
  position: relative;
  top: -50px;
  width: 101px;
  height: 26px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedataWindow_btn.jpgg") repeat left top transparent;
  display: inline-block;
}

.freedataWindow .weiboyiWindow_tl {
  height: 0;
}

.freedataWindow .weiboyiWindow_ml, .freedataWindow .weiboyiWindow_mr {
  padding-left: 0;
  padding-right: 0;
}

.freedataWindow .weiboyiWindow_ml {
  background: black;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedataWindow_shadow.pngg") repeat left top transparent;
}

.freedataWindow .weiboyiWindow_mr {
  border: 1px solid #5da2da;
  position: relative;
  top: -6px;
  left: -5px;
}

.freedataWindow .weiboyiWindow_mc {
  background: #ffffff;
}

.freedataWindow .weiboyiWindow_br,
.freedataWindow .weiboyiWindow_bl,
.freedataWindow .weiboyiWindow_bc,
.freedataWindow .weiboyiWindow_foot {
  border: none;
}

.freedataWindow .weiboyiWindow_foot {
  margin: 0 17px;
}

.freedataWindow .weiboyiTabCtnr_tabhead {
  height: 38px;
  _width: 104%;
  overflow: hidden;
  margin: -10px -10px 10px -10px;
}

.freedataWindow .weiboyiTabCtnr_tabhead ul {
  width: 104%;
  display: block;
}

.freedataWindow .weiboyiTabCtnr_tabhead li {
  display: block;
  height: 38px;
  float: left;
  text-align: center;
  border-right: 1px solid #dbdee5;
  padding: 0px 1px;
  font-size: 16px;
}

.freedataWindow .weiboyiTabCtnr_tabhead a {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedataWindow_tabtitle.jpg) repeat-x left top transparent;
  padding-top: 10px;
  display: block;
  height: 100%;
  color: #666666;
  text-decoration: none;
  font-size: 16px;
}


.freedataWindow .weiboyiTabCtnr_tabhead a.activeTab {
  background: #fff;
  color: #f19133;
  font-size: 16px;
}

.freedataWindow .weiboyiTabCtnr_tabhead a:link, .freedataWindow .weiboyiTabCtnr_tabhead a:visited {
  color: #666666;
  font-size: 16px;
  font-family: "微软雅黑";
  text-align: left;
  text-indent: 78px;
}

.freedataWindow .weiboyiTabCtnr_tabhead a:hover {
  color: #f19133;
  font-size: 16px;
  font-family: "微软雅黑";
}

.freedataWindow .weiboyiTabCtnr_tabhead a:active {
  color: #666666;
  font-size: 16px;
  font-family: "微软雅黑";
}

.freedataWindow .weiboyiTool_close {
  z-index: 1;
  position: absolute;
  right: -10px;
  top: -14px;
  width: 24px;
  height: 24px;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedataWindow_closetool.png) no-repeat left top transparent;
}
.freedataWindow .weiboyiTool_close:hover {
  background-position: 0 0;
}

.freedataWindow .weiboyiWindow_head, .freedataWindow .weiboyiWindow_tc, .freedataWindow .weiboyiWindow_tl, .freedataWindow .weiboyiWindow_tr {
  background: transparent;
  overflow: hidden;
}

.freedataWindow .weiboyiTabCtnr_icon {
  margin-right: 5px;
}

.freedataWindow .weiboyiWindow_head_title {
  background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_title_r.gif) no-repeat right bottom transparent;
  _background-position-y: 8px;
  font-size: 12px;
  height: 25px;
  display: block;
  position: absolute;
  top: 28px;
  left: 54px;
  z-index: 51000;
  padding: 4px 3px 0 0;
  line-height: 28px;
  color: #333;
}

.freedataWindow .weiboyiWindow_head_title span {
  padding: 0 7px 0 10px;
  display: inline-block;
  background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_title_l.gif) no-repeat left top transparent;
}


.freedataIcon1 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon1.jpg) no-repeat left top transparent;
}

.activeTab .freedataIcon1 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon1_active.jpg) no-repeat left top transparent;
}
.freedataIcon2 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon2.jpg) no-repeat left top transparent;
}

.activeTab .freedataIcon2 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon2_active.jpg) no-repeat left top transparent;
}
.freedataIcon3 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon3.jpg) no-repeat left top transparent;
}

.activeTab .freedataIcon3 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon3_active.jpg) no-repeat left top transparent;
}
.freedataIcon4 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon4.jpg) no-repeat left top transparent;
}

.activeTab .freedataIcon4 {
    background: url(http://m.vxiaoyun.com/Public/css/box/images/custom/freedata_icon4_active.jpg) no-repeat left top transparent;
}
/** 数据释放 --end **/

/** weiboyiZtree start **/ 
.weiboyiTree.ztree li ul.level0 {
  *margin-left: 20px;
}
/** weiboyiZtree end **/
