<link href="/images/index_style.css" rel="stylesheet" type="text/css">
<script src="/images/Chart.js"></script>

<!--MAIN START-->
<div class="main index_main">
  <div ng-include="'/views/user/left.html'"></div>
  <div id="main" class="right ming_right">

    <div class="right_con">
      商品列表
    </div>
    <div class="right_con1">
      <a href="/user/main.php">返回用户首页</a>
    </div>
    <div class="cpjwa_con1">
      <ul>
        <?php
				$res=sql("s", "product", "*", " order by order1 desc");
				$suk='';
				$k=1;
				foreach ($res as $info){
					$jg=explode("-|-", gv($info,"jg"));
					$fc=explode("-|-", gv($info,"fc"));

						$suk="<i class='cpjwa_con1_c1'>价格<br>".$jg[1]."</i><i class='cpjwa_con1_c2'>返利<br>".$fc[1]."</i>";
        if($k%2==1){
        $col="#FFFFFF";
        }else{
        $col="#FFFFCC";
        }
        echo '
        <li>
          <div class="cpjwa_con1_a"><a href="product.php?id='.gv($info," id").'"><img src="../uploade/'.gv($info," sptu").'"
            width="248" height="165"></a></div>
          <div class="cpjwa_con1_b"><h2><a href="product.php?id='.gv($info," id").'">'.gv($info,"name").'</a></h2>

            <p class="cpjwa_con1_b_1"><i class="blue">推广说明：</i>'.chinesesubstr(gv($info,"tgsm"),0,131).'</p></div>
          <div class="cpjwa_con1_c">'.$suk.'<a href="product.php?id='.gv($info," id").'" class="cpjwa_con1_c3"><img
            src="../static/css/cp_img4.jpg" width="111" height="44"></a></div>
        </li>
        ';
        $k++;
        }
        ?>
      </ul>
    </div>

    <div class="uc-pager"></div>
  </div>

</div>
<!--foot-->
<div ng-include="'/views/user/foot.html'"></div>


