<link rel="stylesheet" href="/static/css/index_style.css"/>

<!--MAIN START-->
<div class="main index_main">
  <div ng-include="'/views/user/left.html'"></div>
  <div id="main" class="right ming_right">

    <div class="right_con">
      商品列表
    </div>
    <div class="right_con1">
      <a href="/user/main.php">返回用户首页</a>
    </div>
    <div class="cpjwa_con1">
      <ul ng-repeat="p in products">


        <li>
          <div class="cpjwa_con1_a"><a href="#"><img src="/upload/{{p.sptu}}"
                                                     width="248" height="165"></a></div>
          <div class="cpjwa_con1_b">
            <h2>
              <a href="product?{{p.id}}">{{p.name}}
              </a>
            </h2>

            <p class="cpjwa_con1_b_1">
              <i class="blue">推广说明：</i>{{p.tgsm}}
            </p>
          </div>

          <div class="cpjwa_con1_c">
            <i class='cpjwa_con1_c1'>价格<br>{{p.jg[1]}}</i><i class='cpjwa_con1_c2'>返利<br>{{p.fc[1]}}</i>
            <a href="#/product/{{p.id}}" class="cpjwa_con1_c3">
              <img src="/static/css/cp_img4.jpg" width="111" height="44">
            </a>
          </div>
        </li>
      </ul>


    </div>

    <div class="uc-pager"></div>
  </div>

</div>
<!--foot-->
<div ng-include="'/views/user/foot.html'"></div>


