<div class="left">
  <div class="left_t">
    <img src="/images/left_img.png"><br>
    <a href="#/login">用户中心首页</a>
  </div>
  <ul>
    <li>
      <a href="#/item" class="cpjwa1{{select1}}">
        产品及文案
      </a>
    </li>
    <li>
      <a href="#/order" class="cpjwa2{{select2}}">
        订单与结算
      </a>
    </li>
    <li>
      <a href="#/invite" class="cpjwa3{{select3}}">
        邀请与奖励
      </a>
    </li>
    <li>
      <a href="#/channelList" class="cpjwa4{{select4}}">
        我的公众账号
      </a>
    </li>
    <li>
      <a href="#/user_detail" class="cpjwa5{{select5}}">
        我的信息
      </a>
    </li>
    <li>
      <a href="#/terms" class="cpjwa7{{select7}}">
        服务条款
      </a>
    </li>
    <li>
      <a href="#/logout" class="cpjwa6{{select6}}">
        退出登录
      </a>
    </li>
  </ul>
</div>
