<link href="/images/index_style.css" rel="stylesheet" type="text/css">
<script src="/images/Chart.js"></script>

<div class="main index_main">
  <div ng-include="'/views/user/left.html'"></div>
  <div class="right ming_right">
    <div class="ddyjs_con">
      <a href="/user/order.php" class="a_pitch">推广的订单</a>
      <a href="/user/issue.php">退货拒收记录</a>
      <a href="/user/payoff.php">结算与返款</a>
    </div>
    <div class="right_con">
      订单列表
    </div>
    <div class="right_con1">
      <a href="/user/main.php">返回用户首页</a>
    </div>

    <div class="uc" id="fpage">
      数据加载中.............
    </div>

  </div>

</div>

<div ng-include="'/views/user/foot.html'"></div>

