<link href="/images/index_style.css" rel="stylesheet" type="text/css">

  <div class="main">
    <div ng-include="'/views/user/left.html'"></div>
    <div class="right ming_right">
      <div class="right_con">
        服务条款
      </div>
      <div class="right_con1">
        <a href="#/login">返回用户首页</a>
      </div>
      <div class="wdxx_con">


        <br/>
        <br/>

      </div>
    </div>
    <div class="clear"></div>
  </div>

<!--foot-->
<div ng-include="'/views/user/foot.html'"></div>
